<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="about">
        <!--        <img src="assets/picture/images.png" class="img-responsive center-block" alt="">-->
        <p>Thanks a lot for following me!</p>

        <div class="social-media">
          <ul class="list-inline">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-youtube"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
            <li><a href="#" class="fa fa-linkedin"></a></li>
          </ul>
        </div>

        <p>Copyright © 2023.</p>
      </div>
    </div>
  </div>
</div>



