#title {
  width: 100%;
  height: 150px;
  background-color: grey;
  display: table;
}

h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: snow;
  font-family: "Times New Roman", serif;
}

h3 > p {
  font-size: 17px;
  color: snow;
  font-family: "Times New Roman", serif;
}



